/* 
Procedimientos para generar estilos.
1. Posicionamiento.
2. Modelo de caja.
3. Tipografía.
4. Estilos visuales.
5. Otros.
*/


/* Aquí empieza la declaración de las variables */
:root{
--color-bitcoin-orange:#f7931a;
--color-soft-orange:#ffe9d5;
--color-secondary-blue:#1a9af7;
--color-soft-blue:#e7f5ff;
--color-warm-black:#201e1c;
--color-black:#282623;
--color-gray:#bababa;
--color-off-white:#faf8f7;
--color-just-ehite:#ffffff;
}/* Aquí terminan las declaración de las variables */

/* Selector universal */
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

html{
font-size: 62.5%;
font-family: 'DM Sans','sans-serif';
}